{
    "version": "",
    "description": "",
    "homepage": "",
    "license": "",
    "checkver": "github",
    "suggest": {
        "python": "python"
    },
    "url": "",
    "hash": "",
    "autoupdate": {
        "url": ""
    },
    "bin": "app.py"
}
